.Login {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 0.2fr 0.6fr 0.226fr;
  grid-template-columns: 0.4fr 0.3fr 0.4fr;
}

.Login .container {
  grid-row-start: 2;
  grid-column-start: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.container .Login-logo {
  width: 80%;
  pointer-events: none;
  margin-bottom: 3vh;
}

.container .LoginForm {
  text-align: center;
}

.LoginForm2 .Item3 {
  margin-top: 10px;
  padding: 0;
  width: 183px;
  height: 46px;
  line-height: 44px;
  color: #783c00;
  background-image: url("./login.png");
  background-size: cover;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.container .GoogleLogin {
  width: 183px;
  height: 46px;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("./btn_google_normal.png");
  background-size: contain;
}

.GoogleLogin:hover {
  background-image: url("./btn_google_pressed.png");
}
.GoogleLogin:focus {
  background-image: url("./btn_google_focus.png");
}
