.settings__container {
  display: grid;
  grid-template-rows: 1.4fr 4fr 1.4fr;
  background-color: #f5f6fa;
}
.settings__container .profile {
  background-color: white;
  margin-left: calc(35%);
  margin-right: calc(35%);
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.profile .profile__form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.settings__container .avatar-uploader {
  display: flex;
  justify-content: center;
  align-items: center;
}
