@font-face {
  font-family: "jalnanOTF";
  src: url("../Font/JalnanOTF.otf");
}

.years_box {
  position: relative;
}

.img_box {
  height: 171px;
}

.sp_years {
  position: absolute;
  left: -20px;
  top: -30px;
  display: block;
  background-repeat: no-repeat;
}
.icon_years7 {
  width: 80px;
  height: 80px;
  z-index: 3;
}

.txt_box {
  overflow: hidden;
  margin-top: 8px;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  margin-left: 8px;
}

.writer {
  display: block;
  font-size: 11px;
  color: #555;
  float: left;
}

.gall_name {
  display: block;
  margin-top: 3px;
  color: #525eaa;
  font-size: 12px;
  float: left;
}
.tit {
  width: 100%;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  float: left;
}
.info_num {
  display: block;
  font-size: 11px;
  color: #555;
  float: left;
}

.years_box .img {
  position: relative;
  height: 171px;
  width: 171px;
  margin-left: 8px;
  background-color: rgba(0, 0, 0, 0.05);
  background-size: cover;
}

.years_box .img .content {
  position: absolute;
  font-family: "jalnanOTF";
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  z-index: 2;
  text-align: center;
}

.years_box .img .content h1 {
  color: white;
  color: #5c6bc0;
}
