.view__container footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: calc(15%);
  bottom: 0;
  width: calc(70%);
  background-color: white;
  position: fixed;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.12), 0 -2px 3px rgba(0, 0, 0, 0.24);
}

.view__container content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: calc(15%);
  width: calc(70%);
  background-color: white;
}

content #rectangle {
  margin-bottom: calc(3%);
}
.view__container .backimg {
  background-image: url(https://cdn.pixabay.com/photo/2017/08/07/13/18/people-2603773_960_720.jpg);
  height: 450px;
  margin-bottom: calc(3%);
  background-size: 100% 180%;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 2px 3px rgba(0, 0, 0, 0.24);
}

.view__container .backcover {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  height: 450px;
  margin-bottom: calc(3%);
}

.view__container .cate {
  border-radius: 5px;
  position: relative;
  top: 150px;
  width: 90px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background-color: #616db1;
}

.view__container .cate:hover {
  color: #5c6bc0;
  background-color: white;
}

.view__container .title_text {
  color: white;
  position: relative;
  font-size: 40px;
  top: 150px;
  text-align: center;
}

.view__container .nick_box {
  color: white;
  position: relative;
  top: 260px;
}

.view__container .date {
  color: white;
  position: relative;
  top: 260px;
}

.view__container .count {
  color: white;
  position: relative;
  top: 260px;
}
.view__container .ql-font-monospace {
  font-family: monospace;
}

.view__container .ql-size-small {
  font-size: 0.75em;
}
.view__container .ql-size-large {
  font-size: 1.5em;
}

.view__container .ql-size-huge {
  font-size: 2.5em;
}

.view__container blockquote {
  border-left: 4px solid #ccc;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 16px;
}

.view__container .ql-indent-1 {
  padding-left: 3em;
}
.view__container .ql-indent-2 {
  padding-left: 6em;
}

.view__container .ql-indent-3 {
  padding-left: 9em;
}

.view__container .ql-indent-4 {
  padding-left: 12em;
}

.view__container .ql-indent-5 {
  padding-left: 15em;
}

.view__container .ql-indent-6 {
  padding-left: 18em;
}

.view__container .ql-indent-7 {
  padding-left: 21em;
}

.view__container .ql-indent-8 {
  padding-left: 24em;
}

.view__container .hashtag {
  position: relative;
  top: 260px;
}
.view__container .outer .menu {
  display: flex;
  justify-content: space-around;
  padding: 5px 0 5px 0;
  background-color: white;
  border-radius: 10px 10px 0 0;
  margin: 0;
}

.view__container .menu .menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.view__container .menu__list h3 {
  padding: 0;
  margin: 0;
  margin-left: 10px;
}

.view__container .menu__icon {
  font-size: 25px;
}

.view__container .inner {
  height: 60vh;
  overflow-y: auto;
}

.view__container .inner::-webkit-scrollbar {
  width: 0.1px;
}

.inner .menu {
  width: 100%;
  top: 0;
  padding: 5px 0 0 0;
  position: sticky;
  background-color: white;
  text-align: center;
  z-index: 500;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.inner .comment__box {
  padding: 0 15px 0 15px;
}

.inner .comment__list {
  padding: 0 15px 0 15px;
}

.inner__animation-enter {
  height: 0px;
}

.inner__animation-enter .inner__animation-enter-active {
  height: 60vh;
  transition: height 0.3s ease;
}

.inner__animation-exit.inner__animation-exit-active {
  height: 0px;
  transition: height 0.3s ease;
}
