@font-face {
  font-family: "jalnanOTF";
  src: url("../mainPage/Font/JalnanOTF.otf");
}

.list_wrap {
  float: left;
  width: 635px;
  margin-top: 40px;
}
.list_wrap .title {
  position: relative;
  padding: 23px 0 12px 0;
  background: none;
  font-size: 14px;
}
.list_wrap .title h3 {
  font-size: 18px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.56);
}

.list_wrap .title .pop_add {
  top: 20px;
  right: 21px;
  font-size: 14px;
}

.top_sort {
  overflow: hidden;
  padding: 0;
  background: #fff;
  box-shadow: none;
  text-align: center;
}

.top_sort .btn_wrap {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  float: left;
  width: 635px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  box-sizing: border-box;
}
.top_sort .btn_wrap button {
  border-right: 1px solid rgba(0, 0, 0, 0.08);
}
.top_sort .btn_wrap button:last-child {
  border-right: none;
}

.top_sort button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: none;
  width: 100%;
  border-radius: 0;
  background: rgba(250, 250, 250, 0.6);
  font-size: 16px;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.38);
}
.top_sort button span {
  display: inline-block;
  position: relative;
  top: -2px;
}
.top_sort button i {
  display: none;
  width: 24px;
  height: 24px;
  margin: 0 1px 0 -24px;
}
.top_sort button.on {
  width: 33%;
  color: rgba(0, 0, 0, 0.87);
}
/* .top_sort button.on span{padding:0 0 0 24px} */
.top_sort button.on span {
  display: inline-block;
  color: #5c6bc0;
}

.top_sort .mobile {
  display: none;
}
.top_sort .pc {
  display: block;
}
.top_sort .btn_map {
  display: inline-block;
  width: 80px;
  margin-left: 8px;
  padding: 0 12px 0 0;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  background: url("//image.goodchoice.kr/images/web_v3/ico_map.png") 8px 50%
    no-repeat;
  background-size: 22px auto;
  background-color: rgba(250, 250, 250, 0.6);
  text-align: right;
}
.top_sort .width_2 button {
  width: 50%;
}
.top_sort .width_3 button {
  width: 33%;
}
.top_sort .width_3 button:nth-child(1) {
  width: 34%;
}
.top_sort .width_4 button {
  width: 25%;
}
.top_sort .check_image {
  display: inline-block;
  margin-bottom: 6px;
}

.abcabc {
  margin-bottom: 12px;
  margin-top: 30px;
  margin-right: 350px;
  font-size: 30px;
  color: #5c6bc0;
  font-family: "jalnanOTF";
}
