@font-face {
  font-family: "jalnanOTF";
  src: url("./Font/JalnanOTF.otf");
}
/* 메인부분 */
.main {
  width: 800px;
  margin: 20px auto 0;
}
.logout {
  color: #5c6bc0;
  font-size: 15px;
  font-family: "jalnanOTF";
  margin-right: 10px;
  margin-top: 10px;
  float: right;
}
.logout2 {
  color: #5c6bc0;
  font-size: 15px;
  font-family: "jalnanOTF";
  margin-right: 10px;
  margin-top: 0px;
  float: right;
}
/* 상단고정 */
.on_top {
  background-color: #5c6bc0;
  height: 72px;
  position: sticky;
  top: 0;
  text-align: center;
  z-index: 999;
}
/* 페이지 */
.page {
  width: 800px;
  margin: 20px auto 0;
  height: 100px;
  text-align: center;
  line-height: 90px;
}
/* 임시용박스 */
.box {
  width: 800px;
  margin: 20px auto 0;
  border: 5px solid #5c6bc0;
  height: 100px;
  text-align: center;
  line-height: 90px;
}

.box2 {
  width: 800px;
  margin: 20px auto 0;
  border: 5px solid #ffffff;
  height: 100px;
  text-align: center;
  line-height: 90px;
}

.box4 {
  width: 800px;
  margin: 20px auto 0;
  border: 5px solid #ffffff;
  height: 60px;
  text-align: center;
  line-height: 90px;
}

.box3 {
  width: 800px;
  margin: 20px auto 0;
  border: 5px solid #ffffff;
  height: 20px;
  text-align: center;
  line-height: 90px;
}
/* 본문 항목 부분 */

.content_title {
  border-bottom: transparent !important;
  color: #b2b2b2 !important;
  font-size: 14px;
  letter-spacing: 0.025em;
  width: 50px;
  left: 230px;
}

.content_title_select {
  border-bottom: transparent !important;
  color: #5c6bc0 !important;
  font-size: 14px;
  letter-spacing: 0.025em;
  width: 50px;
  left: 230px;
}
/* 본문 팁 부분 */
.blind {
  position: absolute;
  overflow: hidden;
  visibility: hidden;
  margin: -1px;
  width: 0px;
  height: 0px;
  top: -9999px;
  font-size: 0;
}
.underline {
  overflow: hidden;
  height: 31px;
  line-height: 20px;
  margin-bottom: 12px;
  margin-top: 35px;
  border-bottom: 2px solid #5c6bc0;
}
.underline2 {
  overflow: hidden;
  height: 45px;
  line-height: 20px;
  margin-bottom: 12px;
  margin-top: 20px;
  border-bottom: 2px solid #5c6bc0;
  width: 800px;
}

.underline .art_title {
  float: left;
  font-size: 14px;
  color: #5c6bc0;
  letter-spacing: 0.025em;
}
.underline .art_title a {
  color: #5c6bc0;
}
.underline .art_title a:hover {
  color: #93afae;
}

/* 메뉴 임시 */
.aa {
  margin-top: 20px;
}
.bb {
  text-align-last: center;
}
.cc {
  text-align: left;
}

.modal {
  margin-right: 10px;
  float: right;
  font-size: 14px;
  color: #3f51b5;
  letter-spacing: -0.025em;
}

.margin {
  margin-top: 10px;
  height: 10px;
}
