@import "~antd/dist/antd.css";

.body {
  background-color: #3f00ff;
}
.write__container {
  margin: 3%;
  width: 60%;
  margin-left: 20%;
}
.tags__tag {
  width: 100%;
}

.title__container {
  display: inline;
}

.title__Input {
  width: 75%;
}

.container__Button {
  text-align: right;
}

.ant-btn-dashed {
  margin: 20px;
}

.ql-editor {
  min-height: 250px;
}

.buttons {
  cursor: pointer;
  transition: transform 100ms ease;
  margin-left: 10px;
}

.tgs {
  cursor: pointer;
}

.total__container .avatar-uploader {
  display: flex;
  align-items: center;
  justify-content: center;
}
.total__container .avatar-uploader > .ant-upload {
  width: 512px;
  height: 512px;
}

#editor {
  height: 60%;
}
